@font-face {
    font-family: extra-bold;
    src: url(../assets/fonts/Poppins-ExtraBold.ttf);
}

@font-face {
    font-family: semi-bold;
    src: url(../assets/fonts/MuktaMalar-SemiBold.ttf);
}

@font-face {
    font-family: regular;
    src: url(../assets/fonts/MuktaMalar-Regular.ttf);
}
