// Colors
$clr1: #ffffff;
$clr2: #222222;
$clr3: #61DBFB;
$clr4: #2945FF;

//box shadow
$boxs: 0px 0px 5px rgba(0, 0, 0, 0.3);

// Breakpoints
$mobile-breakpoint: 550px;
$narrow-breakpoint: 740px;
$normal-breakpoint: 1200px;
