.home {

    .hero {
        height: 100vh;
        width: 100%;
        background: url(https://res.cloudinary.com/dvbojtbzc/image/upload/v1628441459/hero-gray_yjvlid.jpg) no-repeat;
        background-position: center;
        text-align: center;
        user-select: none;
        margin-block-end: rem(104px);
        h2 {
            color: $clr4;
            margin-block-start: rem(120px);
            font-size: rem(64px);
            width: 95%;
        }
        span {
            font-size: rem(14px);
            margin-block-start: rem(32px);
            font-family: inter-semibold;
            color: $clr1;
        }
        button {
            @include button;
            margin-block-start: rem(64px);
            font-size: 1rem;
            border: none;
            padding: 1rem rem(24px);
            border-radius: rem(100px);
        }
    }
    @media (max-width: $normal-breakpoint) {
        .hero {
            h2 {
                font-size: rem(44px);
            }
        }
    }
    @media (max-width: $narrow-breakpoint) {
        .hero {
            h2 {
                font-size: rem(36px);
            }
        }
    }
}
