.categories {
    text-align: center;
    margin-block-end: rem(104px);
    .categories-header {
        h3 {
            font-size: rem(48px);
        }
        p {
            font-size: rem(18px);
            margin-block-start: rem(32px);
        }
    }
    .categories-grid {
        margin-block-start: rem(64px);
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        gap: 30px;

        article {
            text-align: left;
            border: 1px solid $clr3;
            border-radius: rem(8px);
            padding: 1.2rem;

            div:last-of-type {
                align-items: flex-start;
            }
            svg {
                margin-bottom: rem(10px);
                color: $clr4;
            }
            .category-img {
                width: 175px;
                height: 175px;
                border-radius: rem(24px);
                margin-inline-end: rem(32px);
                img {
                    border-radius: rem(8px);
                }
            }
            h5 {
                font-size: rem(14px);
            }
            p {
                font-size: rem(16px);
                margin-block-start: rem(8px);
            }
            a {
                text-decoration: underline;
                font-family: inter-semibold;
                margin-block-start: 1rem;
                font-size: rem(14px);
                border-radius: rem(24px);
            }
        }
    }

    @media (max-width: 450px) {
        .categories-grid {
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            article {
                flex-direction: column;
                align-items: flex-start;
                .category-img {
                    
                    width: 100%;
                    height: 225px;
                    margin-inline-end: rem(0px);
                    margin-block-end: rem(16px);

                    img {
                        object-fit: cover;
                    }
                }
            }
        }
    }
}
