header {
    margin-block-start: 1rem;
    background-color: transparent;
   
    .logo {
        width: rem(150px);
        height: auto;
        cursor: pointer;
    }
    nav {
        display: flex;
        align-items: center;
        padding: rem(8px);
    }
    a {
        font-size: rem(15px);
        font-family: inter-semibold;
    }
    li:not(:last-child) {
        margin-inline-end: rem(40px);
    }
    li:last-child {
        a {
            display: block;
            padding: rem(14px) rem(24px);
            background-color: $clr4;
            border-radius: rem(5px);
            color: $clr1;
            transition: 0.3s;
            &:hover {
                background-color: darken($color: $clr4, $amount: 15%);
            }
        }
    }

    //responsive nav-bar
    .hamburger {
        display: none;
        color: $clr1;
        cursor: pointer;
    }

    @media (max-width: $narrow-breakpoint) {
        .hamburger {
            z-index: 100;
            display: block;
            position: absolute;
            right: -14px;
        }

        nav {
            display: none;
        }
    }
}

.hamburger-mode {
    header {
        nav {
            display: flex;
            position: fixed;
            z-index: 99;
            left: 0;
            top: 0;
            width: 100%;
            height: 100vh;
            background-color: $clr4;
            ul {
                flex-direction: column;
                width: 100%;
            }
        }
        a {
            font-size: rem(20px);
        }
        li:not(:last-child) {
            margin-inline-end: 0;
            margin-block-end: 64px;
        }
        li:last-child {
            a {
                padding: 0;
                border-radius: 0;
            }
        }
        .hamburger {
            position: fixed;
            margin-inline-end: 1rem;
            right: 0px;
        }
    }
}
