header {
    background-color: transparent;
    box-shadow: $boxs;
    
    .logo {
        width: rem(175px);
        height: rem(30px);
        background: url(../assets/img/logo.svg) no-repeat;
    }

    li:not(:last-child) {
        padding: 1.2rem;
       
    }
    li:last-child {
        padding: 1.2rem 0 1.2rem 1.2rem;
    }
}
